<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="language" content="pt-BR">
    <title>Jadson | Home</title>
    <meta name="description" content="Desenvolvedor de web site em python e apaixonado por tecnologias ">
    <meta name="robots" content="index">
    <meta name="author" content="Jadson Danilo Macena da Silva">
    <meta name="keywords" content="python, flask, sql">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- bootstrap-icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="text-white no-repeat" style="background-image: url('../static/img/bggif.gif'); height: 100vg;">
    <div class="container-fluid">
        <div class="row">         
                <div class="col-md-3 mt-3 text-center">
                    <a class="navbar-brand" href="../templates/index.html">
                        <h2 class=" text-center">DEV.TER</h2>
                    </a>

                </div>
                <div class="col-md-6 mt-3 text-center">
                    <a href="/index" class="btn btn-outline-light">Home</a> 
                    <a href="/contato" class="btn btn-outline-light">Contato</a> 
                    <a href="/sobre" class="btn btn-outline-light">Sobre</a> 

                </div>
                <div class="col-md-3 mt-3 text-center">
                    <a class="btn btn-outline-light" href="https://www.instagram.com/jadson17danilo/" target="_blank">
                        <i class="bi bi-instagram"></i>        
                    </a>
                    <a class="btn btn-outline-light" href="mailto:Jadson17danilo@gmail.com" target="_blank">
                        <i class="bi bi-envelope"></i>
                    </a>
                    <a class="btn btn-outline-light" href="https://www.facebook.com/jadson.danilo" target="_blank">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a class="btn btn-outline-light" href="https://github.com/JadsonDanilo" target="_blank">
                        <i class="bi bi-github"></i>
                    </a> 
                    <a class="btn btn-outline-light" href="tel:+84988180028" >
                        <i class="bi bi-telephone-forward"></i>
                    </a>
                    <a class="btn btn-outline-light" href="https://www.linkedin.com/in/jadson-danilo-4a6621256/" target="_blank">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a class="btn btn-outline-light" href="https://www.behance.net/jadsondanilo" target="_blank">
                        <i class="bi bi-behance"></i>
                    </a>
                    
                </div>
        </div> 
        {% block conteudo %}
        
        {% endblock %}
        <footer class="text-center fixed-bottom">
            <p>Criado por <a href="https://github.com/JadsonDanilo" target="_blank" >Jadson Danilo</a></p>
        </footer> 
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
