{% extends 'base.html' %}

{% block conteudo %}
<main class="text-center mt-5">
    <h2 class="">Contato</h2>  
    <div class="row">
        <div class="col-md-3"></div>
         <div class="col md 6">   
             <form action="">
                 <div class="form-group text-start" >
                 <label for="text">Nome Completo</label>
                 <input type="text" name="text" class="form-control">
                 <label for="Email">E-mail</label>
                 <input type="tel" name="tel" class="form-control">
                 <label for="text">Corpo do Email</label>
                 <textarea class="form-control" name="textarea" cols="30" rows="5"></textarea>
                 <label for="file">Arquivo</label>
                 <input type="file" name="file" class="form-control">
                 </div>
             </form>
         </div>
         <div class="col-md-3"></div>
     </div>
 </main>  
{% endblock %}
